.sidebar-div {
    background-color: cornflowerblue;
    width: 15%;
    height: 100vh;
}

.sidebar-ul {
    gap: 17px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.sidebar-head {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    padding-top: 20px;
}

.sidebar-head::after {
    content: '';
    position: relative;
    top: -25px;
    right: auto;
    width: 7.5em;
    border: 2px solid rgb(5, 89, 247);
    display: inline-flex;
    flex-direction: column;
}

ul>li {
    list-style: none;
    color: white;
    font-size: 1.21rem;
    cursor: pointer;
}

li.sidebar-brand {
    font-weight: 500;
    padding: 8px 15px;
}

ul>li.sidebar-brand:hover {
    font-weight: 700;
    transition: 70ms ease-in-out;
    border-radius: 5px;
    box-shadow: 0 0 7px 0px #000;
    width: 93%;
}

.topbar {
    padding: 1.5rem;
    z-index: 100;
    position: fixed;
    top: 0%;
    left: 15%;
    right: 0;
    background: #f6f8fa;
    box-shadow: 4px 3px 10px #9d9d9d;
    border-bottom: 1px solid #d7dbe2;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: end;
    transition: left .3s ease;
}


@media only screen and (min-width:1690px) and (max-width:1850px) {
    .sidebar-head::after {
        width: 6.5em;
    }
}

@media (max-width:1689px) {
    .sidebar-head::after {
        width: 4.5em;
    }
}

/* main content */

.body-content{
    position: fixed;
    top: 100px;
    left: 15%;
    padding: 30px;
    width: 85%;
}
.dashboard-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20%;
    font-size: 3rem;
    color: #fff;
    font-weight: bolder;
}
.card{
    border: 3px solid #ffffff;
    border-radius: 10px;
    background-color: #d3f3f1;
    box-shadow: 0 0 10px 0;
}
.body-content>.fa-icons{
    cursor: pointer;
}